h1 {
    color: blue;

}

h2 {
    color: red;

}

body {
    background-color: antiquewhite;
}

img {
border-radius: 8px;

}

.diddy{
    color: darkgoldenrod;
}

.bg1 {
    background-color: aquamarine;
}

.bg2 {

    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSo0Oi8bT9h7J5Lg-3GxG5S0Eq0mNR4hnfqpg&s');
}

#img {
    border-radius: 50px;
}